@import 'sc-settings.scss';

#about {

    h1,h2 {
        font-weight:900;
        font-size: 36px;
        color: $blue-500;
        line-height: 44px;

        @include breakpoint(medium down) {
            font-size: 28px;
            line-height: 36px;
        }
    }

    .about-info-label, .about-contact-label {
        font-family:$roboto-condensed-font;
        font-weight:700;
        font-size: 14px;
        color: $blue-300;
        line-height: 28px;
    }
}

#about-info {
    width:100%;
    max-width:610px;
    margin:0 auto;
    padding:24px 0 48px;

    @include breakpoint(medium down) {
        padding:24px 15px 48px;
    }

    p {
        margin-top:16px;
        font-size: 16px;
        color: $dark-letter;
        line-height: 26px;

        &.about-inspired {
            margin-top:24px;
        }
    }

    .about-dc {
        margin-top:48px;
    }

    a {
        font-weight:bold;
    }
}

#about-contact {
    position:relative;
    background-color: $teal-00;

    &:after {
        content: '';
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        background-image: url('/images/logo/about-form-logo-mark.svg');
        background-position: left;
        background-repeat: no-repeat;
        z-index: 1;

        @include breakpoint(xxlarge) {
            left: 10%;
        }
    }

    .about-contact-content {
        width:100%;
        max-width:610px;
        margin:0 auto;
        padding: 24px 0 48px;
        position:relative;
        z-index: 2;

        @include breakpoint(medium down) {
            padding:24px 15px 48px;
        }

        .about-form-error, .about-form-success {
            padding: 10px;
            margin-top: 12px;
            border-radius: 4px;
            color: #fff;
            position:relative;

            &.about-form-error {
                background: $warning-500;
            }

            &.about-form-success {
                background: $success-500;
            }

            p {
                margin:0;
            }

            .close-button {
                position:absolute;
                right:10px;
                color:#fff;
                outline:0;
            }
        }
    }

    h1 {
        color:$blue-500;
    }

    .about-contact-label {
        color: $blue-300;
    }

    label {
        display:block;
        font-family: $roboto-condensed-font;
        font-size: 10px;
        color: $light-gray;
        letter-spacing: 0.4px;
        margin-top:12px;

        input,textarea {
            display: block;
            width: 100%;
            outline: 0;
            padding: 10px 16px;
            border: 1px solid $blue-300;
            border-radius: 19px;
            font-size: 14px;
            color: $light-gray;
            line-height: 18px;
            font-family: $roboto-font;
        }

        textarea {
            height:112px;
        }
    }

    .about-contact-submit {
        background: $blue-300;
        border-radius: 19px;
        font-size: 14px;
        color: #fff;
        text-align: center;
        line-height: 14px;
        padding: 12px 48px;
        outline:0;
        cursor:pointer;
        position:relative;

        .contact-form-loader {
            @include loader($blue-00, $blue-300, 3px, 20px, 20px);
            position:absolute;
            top:9px;
            right:11px;
        }
    }

}
