@import 'sc-settings.scss';

#faq {

    #faq-header {
        position:relative;
        width:100%;
        max-height:400px;
        overflow:hidden;
        text-align:center;

        #faq-header-img {
            position:relative;

            img {
                width:100%;
                position:relative;

                @include breakpoint(large only) {
                    top:-7rem;
                }

                @include breakpoint(xlarge only) {
                    top:-14rem;
                }

                @include breakpoint(xxlarge) {
                    top:-16rem;
                }
            }

            #faq-header-img-overlay {
                background: rgba(0,45,69,.5);
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
            }
        }

        h1 {
            font-family: "Roboto", sans-serif;
            font-weight: 900;
            color:#fff;
            position:absolute;
            top:0;
            left:0;
            width:100%;
            text-align:center;
            font-size: 48px;
            margin-top:2rem;

            @include breakpoint(large) {
                margin-top:3rem;
            }

            @include breakpoint(medium only) {
                font-size:42px;
            }

            @include breakpoint(smedium down) {
                font-size:34px;
                padding:0 12px;
            }

        }
    }

    #faq-faqs {
        width:100%;
        max-width: 610px;
        margin: 0 auto;

        @include breakpoint(smedium down) {
            padding:0 12px;
        }
    }

    ul {
        list-style-type: none;
        margin: 1rem 0 0;

        li {

            h3 {
                font-family:$roboto-condensed-font;
                font-weight:700;
                color: $blue-300;
                line-height: 28px;
                font-size: 18px;
            }

            p {
                margin-bottom:2rem;
                font-size: 16px;
                color: $dark-letter;
                line-height: 26px;
            }
        }
    }
}

#faq-contact {
    position:relative;
    background-color: $teal-00;

    &:after {
        content: '';
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        background-image: url('/images/logo/about-form-logo-mark.svg');
        background-position: left;
        background-repeat: no-repeat;
        z-index: 1;

        @include breakpoint(xxlarge) {
            left: 10%;
        }
    }

    .faq-contact-content {
        width:100%;
        max-width:610px;
        margin:0 auto;
        padding: 24px 0 48px;
        position:relative;
        z-index: 2;

        @include breakpoint(medium down) {
            padding:24px 15px 48px;
        }
    }

    h1 {
        color:$blue-500;
        font-weight:900;
        font-size: 36px;
        line-height: 44px;
    }

    .faq-contact-label {
        color: $blue-300;
        font-family:$roboto-condensed-font;
        font-weight:700;
        font-size: 14px;
        line-height: 28px;
    }
}

