@import 'sc-settings.scss';

#maps {

    #maps-coming-soon {
        position:relative;
        max-height:600px;
        overflow:hidden;


        img {
            width:100%;
            min-width:700px;
        }

        #coming-soon-overlay {
            position:absolute;
            top:0;
            left:0;
            background: rgba(0, 45, 69, 0.5);
            width:100%;
            height:100%;
        }

        h1 {
            width:100%;
            color:#fff;
            font-family: $roboto-font;
            font-weight:900;
            text-align: center;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            padding:0 20px;
            font-size: 48px;

            @include breakpoint(medium only) {
                font-size:44px;
            }

            @include breakpoint(smedium down) {
                font-size:32px;
            }

        }
    }
}
