#about h1,
#about h2 {
  font-weight: 900;
  font-size: 36px;
  color: #005384;
  line-height: 44px;
}

@media print, screen and (max-width: 63.99875em) {
  #about h1,
  #about h2 {
    font-size: 28px;
    line-height: 36px;
  }
}

#about .about-info-label,
#about .about-contact-label {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #0978A1;
  line-height: 28px;
}

#about-info {
  width: 100%;
  max-width: 610px;
  margin: 0 auto;
  padding: 24px 0 48px;
}

@media print, screen and (max-width: 63.99875em) {
  #about-info {
    padding: 24px 15px 48px;
  }
}

#about-info p {
  margin-top: 16px;
  font-size: 16px;
  color: #2E3336;
  line-height: 26px;
}

#about-info p.about-inspired {
  margin-top: 24px;
}

#about-info .about-dc {
  margin-top: 48px;
}

#about-info a {
  font-weight: bold;
}

#about-contact {
  position: relative;
  background-color: #DCE9F0;
}

#about-contact:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("/images/logo/about-form-logo-mark.svg");
  background-position: left;
  background-repeat: no-repeat;
  z-index: 1;
}

@media screen and (min-width: 105em) {
  #about-contact:after {
    left: 10%;
  }
}

#about-contact .about-contact-content {
  width: 100%;
  max-width: 610px;
  margin: 0 auto;
  padding: 24px 0 48px;
  position: relative;
  z-index: 2;
}

@media print, screen and (max-width: 63.99875em) {
  #about-contact .about-contact-content {
    padding: 24px 15px 48px;
  }
}

#about-contact .about-contact-content .about-form-error,
#about-contact .about-contact-content .about-form-success {
  padding: 10px;
  margin-top: 12px;
  border-radius: 4px;
  color: #fff;
  position: relative;
}

#about-contact .about-contact-content .about-form-error.about-form-error,
#about-contact .about-contact-content .about-form-success.about-form-error {
  background: #cc3256;
}

#about-contact .about-contact-content .about-form-error.about-form-success,
#about-contact .about-contact-content .about-form-success.about-form-success {
  background: #55B272;
}

#about-contact .about-contact-content .about-form-error p,
#about-contact .about-contact-content .about-form-success p {
  margin: 0;
}

#about-contact .about-contact-content .about-form-error .close-button,
#about-contact .about-contact-content .about-form-success .close-button {
  position: absolute;
  right: 10px;
  color: #fff;
  outline: 0;
}

#about-contact h1 {
  color: #005384;
}

#about-contact .about-contact-label {
  color: #0978A1;
}

#about-contact label {
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10px;
  color: #80828D;
  letter-spacing: 0.4px;
  margin-top: 12px;
}

#about-contact label input,
#about-contact label textarea {
  display: block;
  width: 100%;
  outline: 0;
  padding: 10px 16px;
  border: 1px solid #0978A1;
  border-radius: 19px;
  font-size: 14px;
  color: #80828D;
  line-height: 18px;
  font-family: "Roboto", sans-serif;
}

#about-contact label textarea {
  height: 112px;
}

#about-contact .about-contact-submit {
  background: #0978A1;
  border-radius: 19px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 14px;
  padding: 12px 48px;
  outline: 0;
  cursor: pointer;
  position: relative;
}

#about-contact .about-contact-submit .contact-form-loader {
  display: inline-block;
  border: 3px solid #DCE9F0;
  border-radius: 50%;
  border-top: 3px solid #0978A1;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 9px;
  right: 11px;
}

