#faq #faq-header {
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  text-align: center;
}

#faq #faq-header #faq-header-img {
  position: relative;
}

#faq #faq-header #faq-header-img img {
  width: 100%;
  position: relative;
}

@media print, screen and (min-width: 64em) and (max-width: 89.99875em) {
  #faq #faq-header #faq-header-img img {
    top: -7rem;
  }
}

@media screen and (min-width: 90em) and (max-width: 104.99875em) {
  #faq #faq-header #faq-header-img img {
    top: -14rem;
  }
}

@media screen and (min-width: 105em) {
  #faq #faq-header #faq-header-img img {
    top: -16rem;
  }
}

#faq #faq-header #faq-header-img #faq-header-img-overlay {
  background: rgba(0, 45, 69, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#faq #faq-header h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 48px;
  margin-top: 2rem;
}

@media print, screen and (min-width: 64em) {
  #faq #faq-header h1 {
    margin-top: 3rem;
  }
}

@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
  #faq #faq-header h1 {
    font-size: 42px;
  }
}

@media screen and (max-width: 39.99875em) {
  #faq #faq-header h1 {
    font-size: 34px;
    padding: 0 12px;
  }
}

#faq #faq-faqs {
  width: 100%;
  max-width: 610px;
  margin: 0 auto;
}

@media screen and (max-width: 39.99875em) {
  #faq #faq-faqs {
    padding: 0 12px;
  }
}

#faq ul {
  list-style-type: none;
  margin: 1rem 0 0;
}

#faq ul li h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: #0978A1;
  line-height: 28px;
  font-size: 18px;
}

#faq ul li p {
  margin-bottom: 2rem;
  font-size: 16px;
  color: #2E3336;
  line-height: 26px;
}

#faq-contact {
  position: relative;
  background-color: #DCE9F0;
}

#faq-contact:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("/images/logo/about-form-logo-mark.svg");
  background-position: left;
  background-repeat: no-repeat;
  z-index: 1;
}

@media screen and (min-width: 105em) {
  #faq-contact:after {
    left: 10%;
  }
}

#faq-contact .faq-contact-content {
  width: 100%;
  max-width: 610px;
  margin: 0 auto;
  padding: 24px 0 48px;
  position: relative;
  z-index: 2;
}

@media print, screen and (max-width: 63.99875em) {
  #faq-contact .faq-contact-content {
    padding: 24px 15px 48px;
  }
}

#faq-contact h1 {
  color: #005384;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
}

#faq-contact .faq-contact-label {
  color: #0978A1;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
}

