.geo-location-error {
  text-align: center;
  color: #cc3256;
}
.timeline-graph {
  margin: 15px auto 0;
  width: 982px;
  position: relative;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
@media print, screen and (max-width: 63.99875em) {
.timeline-graph {
    width: 100%;
}
}
.timeline-graph .timeline-graph-legend {
  display: inline-block;
  position: absolute;
  left: 0;
  color: #00304C;
  z-index: 3;
  pointer-events: none;
  text-align: right;
}
@media print, screen and (max-width: 63.99875em) {
.timeline-graph .timeline-graph-legend {
    text-align: left;
}
}
.timeline-graph .timeline-graph-legend .graph-legend-mask {
  display: none;
}
@media print, screen and (max-width: 63.99875em) {
.timeline-graph .timeline-graph-legend .graph-legend-mask {
    display: block;
    position: absolute;
    left: 0;
    top: 24px;
    background: #fff;
    opacity: 0.5;
    width: 50px;
    height: 130px;
}
}
@media screen and (max-width: 39.99875em) {
.timeline-graph .timeline-graph-legend .graph-legend-mask {
    height: 110px;
    width: 46px;
}
}
.timeline-graph .timeline-graph-legend .timeline-graph-legend-surf {
  position: absolute;
  top: 27px;
  left: -27px;
  line-height: 17px;
  font-size: 10px;
  width: 50px;
}
@media print, screen and (max-width: 63.99875em) {
.timeline-graph .timeline-graph-legend .timeline-graph-legend-surf {
    left: 5px;
}
}
@media screen and (max-width: 39.99875em) {
.timeline-graph .timeline-graph-legend .timeline-graph-legend-surf {
    line-height: 14px;
}
}
.timeline-graph .timeline-graph-legend ul {
  list-style: none;
  margin: 0;
}
.timeline-graph .graph-image-wrapper {
  overflow-x: hidden;
}
.timeline-graph .timeline-graph-image {
  width: 954px;
  margin-left: 28px;
  position: relative;
  left: 0;
  transition: 1s;
}
@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
.timeline-graph .timeline-graph-image {
    width: 100%;
    margin-left: 0;
}
}
@media screen and (max-width: 39.99875em) {
.timeline-graph .timeline-graph-image {
    width: 100%;
    margin-left: 0;
}
}
.timeline-graph .timeline-graph-image .timeline-graph-svg {
  position: relative;
  font-size: 0;
  height: 170px;
}
@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
.timeline-graph .timeline-graph-image .timeline-graph-svg {
    height: 160px;
}
}
@media screen and (max-width: 39.99875em) {
.timeline-graph .timeline-graph-image .timeline-graph-svg {
    height: 134px;
}
}
.timeline-graph .timeline-graph-image .timeline-graph-svg line {
  stroke-width: 1;
}
.timeline-graph .timeline-graph-image .timeline-graph-svg path.choppy, .timeline-graph .timeline-graph-image .timeline-graph-svg polyline.choppy {
  fill: #D74244;
}
.timeline-graph .timeline-graph-image .timeline-graph-svg path.clean, .timeline-graph .timeline-graph-image .timeline-graph-svg polyline.clean {
  fill: #6FC59A;
}
.timeline-graph .timeline-graph-image .timeline-graph-svg path.fair, .timeline-graph .timeline-graph-image .timeline-graph-svg polyline.fair {
  fill: #4A90E2;
}
.timeline-graph .timeline-graph-image .timeline-graph-svg path.none, .timeline-graph .timeline-graph-image .timeline-graph-svg polyline.none {
  fill: #C3C8C8;
}
.timeline-graph .timeline-graph-base {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.timeline-graph svg {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 24px;
  left: 0;
  height: 129px;
}
@media screen and (max-width: 39.99875em) {
.timeline-graph svg {
    height: 110px;
}
}
.timeline-graph .graph-base {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.timeline-graph .graph-base .day-header {
  background: #fff;
  border: 1px solid rgba(195, 200, 200, 0.5);
  height: 24px;
}
.timeline-graph .graph-base .graph-bg {
  background: #fff;
  position: relative;
  border-left: 1px solid rgba(195, 200, 200, 0.5);
  border-right: 1px solid rgba(195, 200, 200, 0.5);
  border-bottom: 1px solid rgba(195, 200, 200, 0.5);
  height: 130px;
}
@media screen and (max-width: 39.99875em) {
.timeline-graph .graph-base .graph-bg {
    height: 110px;
}
}
.timeline-graph .graph-base .graph-bg .night {
  position: absolute;
  height: 100%;
  background: #F4F5F5;
}
.timeline-graph .graph-base .graph-bg .night .sunrise-icon, .timeline-graph .graph-base .graph-bg .night .sunset-icon {
  display: none;
}
@media print, screen and (min-width: 64em) {
.timeline-graph .graph-base .graph-bg .night .sunrise-icon, .timeline-graph .graph-base .graph-bg .night .sunset-icon {
    display: block;
    width: 11px;
    height: 7px;
    position: absolute;
    bottom: -10px;
}
.timeline-graph .graph-base .graph-bg .night .sunrise-icon.sunrise-icon, .timeline-graph .graph-base .graph-bg .night .sunset-icon.sunrise-icon {
    background-image: url(/images/icon/sunrise-icon.svg);
    right: -6.5px;
}
.timeline-graph .graph-base .graph-bg .night .sunrise-icon.sunset-icon, .timeline-graph .graph-base .graph-bg .night .sunset-icon.sunset-icon {
    background-image: url(/images/icon/sunset-icon.svg);
}
}
.timeline-graph .graph-base .graph-bg .midnight {
  position: absolute;
  top: -24px;
  width: 1px;
  background: rgba(195, 200, 200, 0.5);
  height: 159px;
}
@media screen and (max-width: 39.99875em) {
.timeline-graph .graph-base .graph-bg .midnight {
    height: 143px;
}
}
.timeline-graph .graph-base .graph-bg .afternoon {
  height: 135px;
  width: 1px;
  position: absolute;
  background: rgba(195, 200, 200, 0.5);
}
@media screen and (max-width: 39.99875em) {
.timeline-graph .graph-base .graph-bg .afternoon {
    height: 119px;
}
}
.timeline-graph .graph-base .graph-bg .graph-day-date {
  top: -21px;
  position: absolute;
  transform: translateX(-50%);
  color: #787C7C;
  font-size: 12px;
}
.timeline-graph .graph-base .graph-bg .graph-day-date:last-child {
  min-width: 42px;
}#home-hero {
  width: 100%;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}
#home-hero .home-hero-content {
  padding: 138px 0;
  background: rgba(0, 45, 69, 0.5);
}
@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
#home-hero .home-hero-content {
    padding: 94px 0;
}
}
@media screen and (max-width: 39.99875em) {
#home-hero .home-hero-content {
    padding: 78px 0;
}
}
#home-hero .home-hero-content h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: "Roboto", sans-serif;
}
@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
#home-hero .home-hero-content h1 {
    font-size: 44px;
    line-height: 50px;
    width: 540px;
}
}
@media screen and (max-width: 39.99875em) {
#home-hero .home-hero-content h1 {
    font-size: 32px;
    line-height: 40px;
    width: 100%;
}
}
#home-hero .home-hero-content a {
  color: #FFFFFF;
}
#home-hero .home-hero-content .home-hero-link {
  border: 2px solid #FFFFFF;
  border-radius: 19px;
  font-weight: 500;
  font-size: 14px;
  line-height: 38px;
  width: 176px;
  margin: 24px auto 0;
}
#home-hero .home-hero-content video, #home-hero .home-hero-content img {
  z-index: -1;
  width: 100%;
  min-width: 600px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
#home-local {
  box-shadow: 0 0 12px 0 rgba(49, 50, 57, 0.2);
  position: relative;
}
#home-local .home-local-access, #home-local .home-local-fcst {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 12px;
}
#home-local .home-local-access.home-local-access, #home-local .home-local-fcst.home-local-access {
  max-width: 610px;
}
@media print, screen and (min-width: 64em) {
#home-local .home-local-access, #home-local .home-local-fcst {
    padding: 24px 0;
}
}
#home-local .home-local-access h1, #home-local .home-local-fcst h1 {
  font-weight: 300;
  color: #12524E;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 11px;
}
@media print, screen and (min-width: 64em) {
#home-local .home-local-access h1, #home-local .home-local-fcst h1 {
    font-size: 24px;
    line-height: 32px;
}
}
#home-local .home-local-access p, #home-local .home-local-fcst p {
  font-size: 14px;
  color: #787C7C;
  line-height: 26px;
  margin: 12px 0;
}
@media print, screen and (min-width: 64em) {
#home-local .home-local-access p, #home-local .home-local-fcst p {
    margin: 0;
}
}
#home-local .home-local-access .home-local-accept, #home-local .home-local-fcst .home-local-accept {
  margin-top: 14px;
  background: #DCE9F0;
  border-radius: 19px;
  font-weight: 500;
  font-size: 14px;
  color: #005384;
  line-height: 38px;
  display: inline-block;
  padding: 0 18px;
  cursor: pointer;
  outline: 0;
}
#home-local .home-local-access .home-local-link, #home-local .home-local-fcst .home-local-link {
  margin-top: 24px;
  background: #DCE9F0;
  border-radius: 19px;
  font-weight: 500;
  font-size: 14px;
  color: #005384;
  line-height: 38px;
  display: inline-block;
  padding: 0 18px;
  cursor: pointer;
  outline: 0;
}
#home-local ul.fcst-legend {
  margin: 16px 0 0 0;
  list-style: none;
  text-align: center;
}
@media screen and (max-width: 39.99875em) {
#home-local ul.fcst-legend {
    margin: 12px 0 0 0;
}
}
#home-local ul.fcst-legend li {
  display: inline-block;
  padding-left: 20px;
  margin-right: 15px;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: left center;
}
@media print, screen and (max-width: 23.43625em) {
#home-local ul.fcst-legend li {
    margin-right: 5px;
}
}
#home-local ul.fcst-legend li.fcst-legend-clean {
  background-image: url("/images/icon/circle_clean.svg");
}
#home-local ul.fcst-legend li.fcst-legend-fair {
  background-image: url("/images/icon/circle_fair.svg");
}
#home-local ul.fcst-legend li.fcst-legend-choppy {
  background-image: url("/images/icon/circle_poor.svg");
}
#home-latest {
  color: #005384;
  background-color: #DCE9F0;
  padding: 24px 0;
}
#home-latest .home-latest-content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 39.99875em) {
#home-latest .home-latest-content {
    padding: 0 12px;
}
}
#home-latest h1 {
  font-weight: 900;
  font-size: 36px;
  margin: 0;
  line-height: 58px;
  background: #DCE9F0;
}
@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
#home-latest h1 {
    font-size: 24px;
}
}
@media screen and (max-width: 39.99875em) {
#home-latest h1 {
    font-size: 28px;
    margin-top: 24px;
    line-height: 36px;
}
}
#home-latest .home-latest-follow {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  line-height: 58px;
  text-align: right;
  color: #0978A1;
}
@media screen and (max-width: 39.99875em) {
#home-latest .home-latest-follow {
    text-align: center;
    line-height: inherit;
}
}
#home-latest .home-latest-follow ul {
  list-style: none;
  margin: 0;
  display: inline-block;
}
#home-latest .home-latest-follow ul li {
  margin-left: 8px;
  display: inline-block;
}
#home-latest .home-latest-follow ul li img {
  width: 23px;
}
#home-latest .home-latest-blog {
  padding-top: 16px;
}
@media print, screen and (max-width: 63.99875em) {
#home-latest .home-latest-blog {
    overflow-x: scroll;
}
}
@media screen and (max-width: 39.99875em) {
#home-latest .home-latest-blog {
    padding-top: 12px;
}
}
#home-latest .home-latest-blog .latest-blog-container {
  width: 984px;
}
#home-latest .home-latest-blog .card {
  background: #fff;
  box-shadow: 0 0 12px 0 rgba(49, 50, 57, 0.2);
  border-radius: 2px;
  cursor: pointer;
}
#home-latest .home-latest-blog .card .card-section {
  padding: 12px;
}
#home-latest .home-latest-blog .card .card-section .featured-image {
  height: 209px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  background: #F4F5F5;
}
#home-latest .home-latest-blog .home-latest-blog-label {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10px;
  color: #63C6C1;
  line-height: 18px;
  padding: 12px 0 4px;
}
#home-latest .home-latest-blog h2 {
  font-size: 16px;
  line-height: 24px;
  color: #2E3336;
  min-height: 48px;
}
#home-latest .home-latest-blog p {
  color: #2E3336;
  font-size: 12px;
  line-height: 18px;
  height: 72px;
  overflow-y: hidden;
}
#home-latest .home-latest-blog .home-latest-blog-link {
  font-size: 12px;
  color: #0978A1;
  text-align: right;
  line-height: 11px;
}
#home-latest .home-latest-blog .home-latest-blog-link img {
  margin-left: 8px;
  width: 8px;
}
#home-about {
  padding: 48px 12px;
  max-width: 610px;
  margin: 0 auto;
  text-align: center;
}
@media print, screen and (min-width: 64em) {
#home-about {
    padding: 48px 20px;
}
}
#home-about img {
  width: 200px;
  margin-bottom: 28px;
}
#home-about .home-about-label {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #0978A1;
  line-height: 28px;
}
@media screen and (max-width: 39.99875em) {
#home-about .home-about-label {
    margin-top: 24px;
}
}
#home-about h1 {
  font-weight: 900;
  font-size: 36px;
  color: #005384;
  line-height: 44px;
  margin-top: 5px;
}
@media print, screen and (max-width: 63.99875em) {
#home-about h1 {
    font-size: 28px;
    line-height: 36px;
}
}
@media screen and (max-width: 39.99875em) {
#home-about h1 {
    max-width: 100%;
}
}
#home-about p {
  font-size: 16px;
  color: #2E3336;
  line-height: 26px;
  margin: 14px 0 22px;
}
@media screen and (max-width: 39.99875em) {
#home-about p {
    max-width: 100%;
}
}
#home-about .home-mission-link {
  background: #DCE9F0;
  border-radius: 19px;
  font-weight: 500;
  font-size: 14px;
  color: #005384;
  line-height: 38px;
  display: inline-block;
  padding: 0 18px;
  cursor: pointer;
  outline: 0;
}#about h1[data-v-15a04a84], #about h2[data-v-15a04a84] {
  font-weight: 900;
  font-size: 36px;
  color: #005384;
  line-height: 44px;
}
@media print, screen and (max-width: 63.99875em) {
#about h1[data-v-15a04a84], #about h2[data-v-15a04a84] {
    font-size: 28px;
    line-height: 36px;
}
}
#about .about-info-label[data-v-15a04a84], #about .about-contact-label[data-v-15a04a84] {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #0978A1;
  line-height: 28px;
}
#about-info[data-v-15a04a84] {
  width: 100%;
  max-width: 610px;
  margin: 0 auto;
  padding: 24px 0 48px;
}
@media print, screen and (max-width: 63.99875em) {
#about-info[data-v-15a04a84] {
    padding: 24px 15px 48px;
}
}
#about-info p[data-v-15a04a84] {
  margin-top: 16px;
  font-size: 16px;
  color: #2E3336;
  line-height: 26px;
}
#about-info p.about-inspired[data-v-15a04a84] {
  margin-top: 24px;
}
#about-info .about-dc[data-v-15a04a84] {
  margin-top: 48px;
}
#about-info a[data-v-15a04a84] {
  font-weight: bold;
}
#about-contact[data-v-15a04a84] {
  position: relative;
  background-color: #DCE9F0;
}
#about-contact[data-v-15a04a84]:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("/images/logo/about-form-logo-mark.svg");
  background-position: left;
  background-repeat: no-repeat;
  z-index: 1;
}
@media screen and (min-width: 105em) {
#about-contact[data-v-15a04a84]:after {
    left: 10%;
}
}
#about-contact .about-contact-content[data-v-15a04a84] {
  width: 100%;
  max-width: 610px;
  margin: 0 auto;
  padding: 24px 0 48px;
  position: relative;
  z-index: 2;
}
@media print, screen and (max-width: 63.99875em) {
#about-contact .about-contact-content[data-v-15a04a84] {
    padding: 24px 15px 48px;
}
}
#about-contact .about-contact-content .about-form-error[data-v-15a04a84], #about-contact .about-contact-content .about-form-success[data-v-15a04a84] {
  padding: 10px;
  margin-top: 12px;
  border-radius: 4px;
  color: #fff;
  position: relative;
}
#about-contact .about-contact-content .about-form-error.about-form-error[data-v-15a04a84], #about-contact .about-contact-content .about-form-success.about-form-error[data-v-15a04a84] {
  background: #cc3256;
}
#about-contact .about-contact-content .about-form-error.about-form-success[data-v-15a04a84], #about-contact .about-contact-content .about-form-success.about-form-success[data-v-15a04a84] {
  background: #55B272;
}
#about-contact .about-contact-content .about-form-error p[data-v-15a04a84], #about-contact .about-contact-content .about-form-success p[data-v-15a04a84] {
  margin: 0;
}
#about-contact .about-contact-content .about-form-error .close-button[data-v-15a04a84], #about-contact .about-contact-content .about-form-success .close-button[data-v-15a04a84] {
  position: absolute;
  right: 10px;
  color: #fff;
  outline: 0;
}
#about-contact h1[data-v-15a04a84] {
  color: #005384;
}
#about-contact .about-contact-label[data-v-15a04a84] {
  color: #0978A1;
}
#about-contact label[data-v-15a04a84] {
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10px;
  color: #80828D;
  letter-spacing: 0.4px;
  margin-top: 12px;
}
#about-contact label input[data-v-15a04a84], #about-contact label textarea[data-v-15a04a84] {
  display: block;
  width: 100%;
  outline: 0;
  padding: 10px 16px;
  border: 1px solid #0978A1;
  border-radius: 19px;
  font-size: 14px;
  color: #80828D;
  line-height: 18px;
  font-family: "Roboto", sans-serif;
}
#about-contact label textarea[data-v-15a04a84] {
  height: 112px;
}
#about-contact .about-contact-submit[data-v-15a04a84] {
  background: #0978A1;
  border-radius: 19px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 14px;
  padding: 12px 48px;
  outline: 0;
  cursor: pointer;
  position: relative;
}
#about-contact .about-contact-submit .contact-form-loader[data-v-15a04a84] {
  display: inline-block;
  border: 3px solid #DCE9F0;
  border-radius: 50%;
  border-top: 3px solid #0978A1;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 9px;
  right: 11px;
}#blog-navbar {
  margin: 0 auto;
}
@media screen and (min-width: 105em) {
#blog-navbar {
    width: 1400px;
}
#blog-navbar.max-width-xl {
    width: 1200px;
}
#blog-navbar.max-width-lg {
    width: 982px;
}
}
@media screen and (min-width: 90em) and (max-width: 104.99875em) {
#blog-navbar {
    width: 1200px;
}
#blog-navbar.max-width-lg {
    width: 982px;
}
}
@media print, screen and (min-width: 64em) and (max-width: 89.99875em) {
#blog-navbar {
    width: 982px;
}
}
@media print, screen and (max-width: 63.99875em) {
#blog-navbar {
    width: 100%;
}
}
@media screen and (min-width: 105em) {
#blog-navbar {
    max-width: 1200px;
}
}
#blog-navbar a {
  font-weight: 700;
}
#navbar-links {
  float: right;
}
#navbar-links a:first-child {
  margin-right: 20px;
}
#navbar-user-links {
  display: none;
}.post-list-container .card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  margin-bottom: 1.5rem !important;
}
.post-list-container .card .card-section {
  margin: 0 0 0.75rem 0 !important;
}
.post-list-container .card .card-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 39.99875em) {
.post-list-container .card .card-image img {
    max-height: 102px;
}
}
@media print, screen and (min-width: 40em) {
.post-list-container .card .card-image img {
    width: 100%;
    max-height: 112px;
}
}
@media screen and (min-width: 90em) {
.post-list-container .card .card-image img {
    max-height: 142px;
}
}
.post-list-container .card .post-list-summary {
  color: #2E3336;
}
.post-list-container .card .post-list-footer {
  color: #787C7C;
  font-size: 80%;
}.featured-post .featured-post-container {
  margin-bottom: 1.5rem !important;
}
@media print, screen and (min-width: 40em) {
.featured-post .featured-post-container:nth-child(odd) {
    padding-right: 12px;
}
}
.featured-post .featured-post-container .card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.featured-post .featured-post-container .card .card-divider {
  font-size: 80%;
  background: unset;
}
.featured-post .featured-post-container .card .card-divider > span {
  width: 50%;
}
.featured-post .featured-post-container .card .card-divider > span:last-child {
  text-align: right;
}
.featured-post .featured-post-container .card .card-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media print, screen and (min-width: 64em) and (max-width: 89.99875em) {
.featured-post .featured-post-container .card .card-image img {
    max-height: 300px;
}
}
@media screen and (min-width: 90em) {
.featured-post .featured-post-container .card .card-image img {
    max-height: 350px;
}
}
@media print, screen and (max-width: 63.99875em) {
.featured-post .featured-post-container .card .card-image img {
    max-height: 225px;
}
}#maps #maps-coming-soon[data-v-c95f8a20] {
  position: relative;
  max-height: 600px;
  overflow: hidden;
}
#maps #maps-coming-soon img[data-v-c95f8a20] {
  width: 100%;
  min-width: 700px;
}
#maps #maps-coming-soon #coming-soon-overlay[data-v-c95f8a20] {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 45, 69, 0.5);
  width: 100%;
  height: 100%;
}
#maps #maps-coming-soon h1[data-v-c95f8a20] {
  width: 100%;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
  font-size: 48px;
}
@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
#maps #maps-coming-soon h1[data-v-c95f8a20] {
    font-size: 44px;
}
}
@media screen and (max-width: 39.99875em) {
#maps #maps-coming-soon h1[data-v-c95f8a20] {
    font-size: 32px;
}
}.register-newsletter label, .register-remember-me label {
  display: inline-block;
  margin-left: 5px !important;
  margin-right: 0 !important;
}
.fb-login-wrapper {
  text-align: center;
}
.fb-login {
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  color: #A1C6D7;
  line-height: 38px;
  position: relative;
  padding: 0 30px;
  border: 1px solid #A1C6D7;
  border-radius: 19px;
}
.fb-login .fb-login-logo {
  width: 20px;
  display: inline-block;
  margin-right: 5px;
}
.fb-login .fb-login-txt {
  display: inline-block;
}
.fb-or-login {
  border-bottom: 1px solid #E4E6E6;
  text-align: center;
  line-height: 0.1em;
  margin: 25px 0;
  font-weight: bold;
  color: #E4E6E6;
}
.fb-or-login span {
  background: #002033;
  padding: 0 8px;
}
.right-col.is-modal {
  display: none;
}.header-subscription {
  position: absolute;
  top: 0;
  left: 0;
  background: #002033;
  width: 100%;
  min-height: 100%;
  padding: 12px;
  line-height: 24px;
  color: #fff;
}
.header-subscription.is-modal {
  position: relative;
}
.header-subscription h1 {
  display: block !important;
  text-align: left !important;
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  border-bottom: 0;
}
.header-subscription .subscription-summary {
  margin-bottom: 1rem;
  padding: 12px 10px;
  background-color: #004065;
  border-radius: 4px;
  color: #A1C6D7;
}
.header-subscription .subscription-method {
  margin-bottom: 1rem;
}
.header-subscription .subscription-method .payment-method {
  margin-right: 1rem;
}
.header-subscription .subscription-method .button {
  display: inline-block;
  font-size: 0.6rem;
  width: inherit;
  margin: 0;
}
.header-subscription .cancel-renew-message {
  margin-top: 6px;
  color: #A1C6D7;
  font-style: italic;
}
.header-subscription .cancel-renew-message.error {
  color: #cc3256;
}
.header-subscription .cancel-renew-message.success {
  color: #55B272;
  font-weight: normal;
}
.header-subscription #card-info {
  transition: min-height 1s ease-in;
  overflow: hidden;
}
.header-subscription #card-element {
  background-color: #fff;
  padding: 12px 8px;
  min-height: 41px;
}
.header-subscription #card-info-show-coupon {
  text-align: right;
  margin-top: 12px;
}
.header-subscription #card-coupon {
  margin-top: 1rem;
}
.header-subscription #card-promo-message {
  line-height: 20px;
  margin: 6px 0;
  color: #55B272;
}
.header-subscription #card-promo-message.error {
  color: #cc3256;
}
.header-subscription #card-promo-loading {
  color: #787C7C;
}
.header-subscription #card-button, .header-subscription .update-btn, .header-subscription .cancel-button, .header-subscription .resume-button {
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  line-height: 38px;
  position: relative;
  padding: 0 30px;
  border-radius: 19px;
  outline: 0;
  width: 100%;
}
.header-subscription #card-button#card-button, .header-subscription #card-button.cancel-button, .header-subscription #card-button.resume-button, .header-subscription .update-btn#card-button, .header-subscription .update-btn.cancel-button, .header-subscription .update-btn.resume-button, .header-subscription .cancel-button#card-button, .header-subscription .cancel-button.cancel-button, .header-subscription .cancel-button.resume-button, .header-subscription .resume-button#card-button, .header-subscription .resume-button.cancel-button, .header-subscription .resume-button.resume-button {
  background: #DCE9F0;
  color: #005384;
}
.header-subscription #card-button#card-button, .header-subscription .update-btn#card-button, .header-subscription .cancel-button#card-button, .header-subscription .resume-button#card-button {
  margin-top: 12px;
}
.header-subscription #card-button.update-btn, .header-subscription .update-btn.update-btn, .header-subscription .cancel-button.update-btn, .header-subscription .resume-button.update-btn {
  color: #A1C6D7;
  border: 1px solid #A1C6D7;
  width: unset;
  line-height: 26px;
  padding: 0 30px;
  font-size: 12px;
}
.header-subscription #card-button.success, .header-subscription .update-btn.success, .header-subscription .cancel-button.success, .header-subscription .resume-button.success {
  margin-left: 0;
  background-color: #3C8647;
  color: #fff;
  cursor: default;
}
.header-subscription #card-button.success:hover, .header-subscription #card-button.success:focus, .header-subscription .update-btn.success:hover, .header-subscription .update-btn.success:focus, .header-subscription .cancel-button.success:hover, .header-subscription .cancel-button.success:focus, .header-subscription .resume-button.success:hover, .header-subscription .resume-button.success:focus {
  background-color: #3C8647;
  color: #fff;
}
.header-subscription #card-button .loader, .header-subscription .update-btn .loader, .header-subscription .cancel-button .loader, .header-subscription .resume-button .loader {
  position: absolute;
  top: 6px;
  left: 10px;
  border: 5px solid #bbc7ce;
  border-top: 5px solid #005384;
}
.header-subscription .close-subscription {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 12px;
}
.header-subscription .subscription-text {
  margin: 1rem 0;
}
.header-subscription .subscription-text a {
  color: #A1C6D7;
  text-decoration: underline;
}
.header-subscription .stripe-message {
  margin-top: 6px;
  color: #cc3256;
  font-size: 14px;
}
@media print, screen and (max-width: 63.99875em) {
.header-subscription .right-col {
    position: absolute;
    top: 0;
    right: -48px;
    background: #00304C;
    min-height: 100vh;
    height: 100%;
    width: 48px;
    text-align: center;
}
.header-subscription .right-col button {
    padding: 20px 15px;
    cursor: pointer;
    outline: 0;
}
.header-subscription .right-col button.close-fav {
    padding: 15px;
    font-size: 2em;
    color: #fff;
}
.header-subscription .right-col button img {
    width: 12px;
    margin-right: 14px;
}
}.header-profile {
  width: 296px;
  padding: 12px;
}
@media print, screen and (max-width: 63.99875em) {
.header-profile {
    padding: 0;
}
}
.header-profile .header-profile-subscription {
  color: #fff;
  font-size: 14px;
}
.header-profile .header-profile-subscription button {
  float: right;
  margin: 0;
  outline: 0;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  color: #A1C6D7;
  line-height: 38px;
  position: relative;
  padding: 0 30px;
  border: 1px solid #A1C6D7;
  border-radius: 19px;
}
.header-profile .loading-settings {
  margin-top: 1rem;
}
@media print, screen and (max-width: 63.99875em) {
.header-profile {
    padding-bottom: 12px;
}
}
@media print, screen and (max-width: 63.99875em) {
.header-profile {
    width: 100%;
}
}
@media print, screen and (min-width: 64em) {
.header-profile h1 {
    display: none;
}
}
@media print, screen and (max-width: 63.99875em) {
.header-profile h1 {
    margin: 0;
}
}
.header-profile .nav-units, .header-profile .simple-toggle-options {
  background: inherit;
  color: #A1C6D7;
  border: 1px solid #A1C6D7;
  position: relative;
  top: 0;
}
.header-profile .nav-units .active, .header-profile .simple-toggle-options .active {
  background: #A1C6D7 !important;
  color: #002033 !important;
}
.header-profile ul {
  margin: 0;
  list-style: none;
  font-weight: 700;
}
.header-profile ul li {
  border-top: 2px solid #004065 !important;
  color: #fff !important;
  font-size: 16px !important;
  line-height: 26px !important;
  padding: 12px 0 !important;
}
@media screen and (max-width: 39.99875em) {
.header-profile ul li {
    padding: 12px !important;
}
}
.header-profile ul li:first-child {
  border-top: none !important;
}
@media print, screen and (min-width: 64em) {
.header-profile ul li:first-child {
    border-top: 2px solid #004065 !important;
}
}
.header-profile ul li:last-child {
  border-bottom: 2px solid #004065 !important;
}
.header-profile ul li select {
  width: 240px;
}
.header-profile ul li .unit-toggle {
  display: inline-block;
}
.header-profile ul img {
  width: 20px;
  margin-right: 14px;
}
.header-profile .profile-email-subscribe {
  /* Customize the label (the container) */
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a gray background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.header-profile .profile-email-subscribe .container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  color: #fff;
  font-size: 14px;
  padding-left: 35px;
}
.header-profile .profile-email-subscribe .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.header-profile .profile-email-subscribe .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 4px;
}
.header-profile .profile-email-subscribe .container:hover input ~ .checkmark {
  background-color: #ccc;
}
.header-profile .profile-email-subscribe .container input:checked ~ .checkmark {
  background-color: #1779ba;
}
.header-profile .profile-email-subscribe .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.header-profile .profile-email-subscribe .container input:checked ~ .checkmark:after {
  display: block;
}
.header-profile .profile-email-subscribe .container .checkmark:after {
  left: 10px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.header-profile #delete-account-btn {
  border: 2px solid #0978A1;
  border-radius: 19px;
  font-weight: 700;
  font-size: 14px;
  color: #0978A1;
  text-align: center;
  margin: 0 auto;
  line-height: 34px;
  display: block;
  width: 100%;
  outline: 0;
}
#delete-account {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
#delete-account .delete-account-info {
  padding: 30px 12px 12px;
  background: #fff;
  border-radius: 8px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#delete-account .delete-account-info h1 {
  font-size: 18px;
  margin: 0 0 6px;
  padding: 0;
  color: #002033;
  line-height: 26px;
  border-bottom: 0;
}
#delete-account .delete-account-info p {
  font-size: 14px;
  color: #494E4E;
}
#delete-account .delete-account-info .cancel-btn {
  border: 2px solid #8F9595;
  border-radius: 19px;
  font-weight: 700;
  font-size: 14px;
  color: #8F9595;
  text-align: center;
  margin: 0 auto;
  line-height: 34px;
  display: block;
  width: 100%;
  outline: 0;
}
#delete-account .delete-account-info .delete-btn {
  border: 2px solid #cc3256;
  border-radius: 19px;
  font-weight: 700;
  font-size: 14px;
  color: #cc3256;
  text-align: center;
  margin: 0 auto;
  line-height: 34px;
  display: block;
  width: 100%;
  outline: 0;
  margin: 12px auto;
}
#delete-account .delete-account-info .password-btn {
  border: 2px solid #0978A1;
  border-radius: 19px;
  font-weight: 700;
  font-size: 14px;
  color: #0978A1;
  text-align: center;
  margin: 0 auto;
  line-height: 34px;
  display: block;
  width: 100%;
  outline: 0;
  margin: 12px auto;
}
#delete-account .delete-account-info .close-modal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 5px;
  color: #000;
  font-size: 24px;
}
#delete-account .delete-account-info .delete-password {
  color: #787C7C;
}
#delete-account .delete-account-info .delete-password input {
  border-radius: 4px;
}
#delete-account .delete-account-info .delete-message {
  color: #cc3256;
  margin-top: 12px;
}.vld-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  z-index: 9999;
}
.vld-overlay.is-active {
  display: flex;
}
.vld-overlay.is-full-page {
  z-index: 9999;
  position: fixed;
}
.vld-overlay .vld-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  opacity: 0.5;
}
.vld-overlay .vld-icon, .vld-parent {
  position: relative;
}@media print, screen and (max-width: 63.99875em) {
.pro-modal-transition-enter-active, .pro-modal-transition-leave-active {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
}
@media print, screen and (min-width: 64em) {
.pro-modal-transition-enter-active, .pro-modal-transition-leave-active {
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}
}
@media print, screen and (max-width: 63.99875em) {
.pro-modal-transition-enter-to, .pro-modal-transition-leave {
    transform: translateY(0vh);
}
}
@media print, screen and (max-width: 63.99875em) {
.pro-modal-transition-enter, .pro-modal-transition-leave-to {
    transform: translateY(100vh);
}
}
@media print, screen and (min-width: 64em) {
.pro-modal-transition-enter, .pro-modal-transition-leave-to {
    opacity: 0;
}
}
#pro-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9;
}
#pro-modal #modal-content {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #121414;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  width: 900px;
  min-height: 500px;
  overflow-y: auto;
}
@media screen and (min-width: 90em) and (max-width: 104.99875em) {
#pro-modal #modal-content {
    width: 1000px;
    min-height: 550px;
}
}
@media screen and (min-width: 105em) {
#pro-modal #modal-content {
    width: 1100px;
    min-height: 600px;
}
}
@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
#pro-modal #modal-content {
    width: 85%;
    height: 85%;
}
}
@media screen and (max-width: 39.99875em) {
#pro-modal #modal-content {
    top: 0;
    left: 0;
    transform: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    height: 100%;
    min-height: 100%;
}
}
#pro-modal #modal-content.noscroll {
  overflow: hidden;
}
#pro-modal .content-action {
  background-color: #002034;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
  width: 320px;
}
@media print, screen and (max-width: 63.99875em) {
#pro-modal .content-action {
    position: absolute;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}
@media print, screen and (max-width: 23.43625em) {
#pro-modal .content-action {
    width: 280px;
    min-width: inherit;
}
}
#pro-modal .content-action label, #pro-modal .content-action a {
  color: #fff;
}
#pro-modal .slideleft-enter-active, #pro-modal .slideleft-leave-active {
  transition: transform 1s ease-out;
}
#pro-modal .slideleft-enter {
  transform: translateX(100%);
}
#pro-modal .slideleft-enter-to {
  transform: translateX(0);
}
#pro-modal .slideleft-leave-to {
  transform: translateX(-100%);
}
#pro-modal .content-promote {
  text-align: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  position: relative;
  overflow: hidden;
  background: rgba(0, 45, 69, 0.5);
}
@media print, screen and (min-width: 64em) {
#pro-modal .content-promote {
    min-height: 500px;
}
}
@media screen and (min-width: 90em) {
#pro-modal .content-promote {
    min-height: 550px;
}
}
@media screen and (min-width: 105em) {
#pro-modal .content-promote {
    min-height: 600px;
}
}
@media screen and (max-width: 39.99875em) {
#pro-modal .content-promote {
    border-radius: 0;
}
}
#pro-modal .content-promote .promote-image {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, #a66704 90%), url(/images/surfer-sunshine-barrel.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#pro-modal .content-promote .promote-image.step2 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, #a66704 90%), url(/images/surfer-girl.jpg);
}
#pro-modal .content-promote .promote-image.step3 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, #a66704 90%), url(/images/woman-beach.jpg);
}
#pro-modal .content-promote h1 {
  margin-top: 27px;
  color: #fff;
  font-size: 33px;
  font-weight: 900;
  line-height: 48px;
  position: relative;
}
@media screen and (min-width: 23.4375em) and (max-width: 39.99875em) {
#pro-modal .content-promote h1 {
    font-size: 22px;
    margin-top: 1rem;
}
}
@media print, screen and (max-width: 23.43625em) {
#pro-modal .content-promote h1 {
    font-size: 19px;
    margin-top: 0;
}
}
#pro-modal .content-promote .promote-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: env(safe-area-inset-bottom);
}
#pro-modal .content-promote .promote-info p {
  font-size: 18px;
  color: #fff;
}
@media screen and (max-width: 39.99875em) {
#pro-modal .content-promote .promote-info p {
    font-size: 16px;
}
}
@media print, screen and (max-width: 23.43625em) {
#pro-modal .content-promote .promote-info p {
    font-size: 14px;
}
}
#pro-modal #mobile-content {
  position: relative;
  background: #364d59;
  padding-bottom: 8rem;
}
#pro-modal #mobile-content #mobile-content-bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  background: rgba(0, 45, 69, 0.5);
  top: 0;
  left: 0;
}
#pro-modal #mobile-content #mobile-content-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, #a66704 90%), url(/images/surfer-sunshine-barrel.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#pro-modal #mobile-content > h1 {
  text-align: center;
  padding: 2rem 0 1rem;
  color: #fff;
  font-size: 23px;
  font-weight: 900;
  line-height: 48px;
  position: relative;
  z-index: 2;
}
#pro-modal #mobile-content #mobile-content-action {
  z-index: 2;
  width: 320px;
  margin: 0 auto;
  position: relative;
}
@media print, screen and (max-width: 23.43625em) {
#pro-modal #mobile-content #mobile-content-action {
    width: 280px;
}
}
#pro-modal #mobile-content #mobile-content-action #mobile-content-form {
  background-color: #002034;
}
#pro-modal #mobile-content #mobile-content-action #mobile-content-form label, #pro-modal #mobile-content #mobile-content-action #mobile-content-form a {
  color: #fff;
}
#pro-modal #mobile-content #mobile-content-promote {
  z-index: 2;
  padding: 2rem 0;
  text-align: center;
  position: relative;
  font-size: 16px;
  color: #fff;
}
#pro-modal .pro-modal-close {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  color: #fff;
  font-size: 31px;
  line-height: 31px;
  cursor: pointer;
}
@media print, screen and (max-width: 63.99875em) {
#pro-modal .pro-modal-close {
    top: 10px;
}
}
@media print, screen and (max-width: 23.43625em) {
#pro-modal .pro-modal-close {
    font-size: 25px;
    line-height: 25px;
    padding: 0 5px;
}
}.off-canvas-install {
  padding-bottom: env(safe-area-inset-bottom);
}
.install-content {
  position: relative;
  margin: 0 48px 48px 0;
  padding: 0 12px;
}
@media print, screen and (max-width: 63.99875em) {
.install-content {
    padding: 0 12px 148px;
}
}
.install-content h2 {
  font-size: 18px;
  color: #A1C6D7;
}
.install-content .install-header {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}
.install-content ul {
  list-style-type: disc;
  margin-left: 24px;
}
.install-content li {
  border-top: none;
  padding-bottom: 12px;
  color: #fff;
  font-size: 14px;
}
.install-content img {
  width: 120px;
  border-radius: 18px;
}#about-contact-form .about-form-error, #about-contact-form .about-form-success {
  padding: 10px;
  margin-top: 12px;
  border-radius: 4px;
  color: #fff;
  position: relative;
}
#about-contact-form .about-form-error.about-form-error, #about-contact-form .about-form-success.about-form-error {
  background: #cc3256;
}
#about-contact-form .about-form-error.about-form-success, #about-contact-form .about-form-success.about-form-success {
  background: #55B272;
}
#about-contact-form .about-form-error p, #about-contact-form .about-form-success p {
  margin: 0;
}
#about-contact-form .about-form-error .close-button, #about-contact-form .about-form-success .close-button {
  position: absolute;
  right: 10px;
  color: #fff;
  outline: 0;
}
#about-contact-form label {
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10px;
  color: #80828D;
  letter-spacing: 0.4px;
  margin-top: 12px;
}
#about-contact-form label input, #about-contact-form label textarea {
  display: block;
  width: 100%;
  outline: 0;
  padding: 10px 16px;
  border: 1px solid #0978A1;
  border-radius: 19px;
  font-size: 14px;
  color: #80828D;
  line-height: 18px;
  font-family: "Roboto", sans-serif;
}
#about-contact-form label textarea {
  height: 112px;
}
#about-contact-form .about-contact-submit {
  background: #0978A1;
  border-radius: 19px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 14px;
  padding: 12px 48px;
  outline: 0;
  cursor: pointer;
  position: relative;
}
#about-contact-form .about-contact-submit .contact-form-loader {
  display: inline-block;
  border: 3px solid #DCE9F0;
  border-radius: 50%;
  border-top: 3px solid #0978A1;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 9px;
  right: 11px;
}#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: #03a87c;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #03a87c, 0 0 5px #03a87c;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
#studio {
  background: #DCE9F0;
  padding: 3rem 0 !important;
}
@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
#studio {
    padding: 2rem 20px !important;
}
}
@media screen and (max-width: 39.99875em) {
#studio {
    padding: 1.5rem 12px !important;
}
}
.card {
  transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1), box-shadow 0.2s ease !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important;
}
.card .card-section {
  color: #2E3336;
}
.card .card-divider {
  color: #787C7C;
}
.card .card-title {
  color: #2E3336;
}
.card:hover {
  transform: translateY(-5px) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08) !important;
}
.text-decoration-none {
  text-decoration: none !important;
}
.text-dark {
  color: #2d3748 !important;
}
#topic-posts, #tag-posts {
  padding-top: 3rem !important;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 39.99875em) {
#topic-posts, #tag-posts {
    padding-top: 2rem !important;
}
}
@media screen and (min-width: 90em) {
#topic-posts, #tag-posts {
    max-width: 1200px;
}
}
@media print, screen and (min-width: 64em) and (max-width: 89.99875em) {
#topic-posts, #tag-posts {
    max-width: 982px;
}
}
#topic-posts h1, #tag-posts h1 {
  color: #002D45;
  font-weight: 900;
}
@media screen and (max-width: 39.99875em) {
#topic-posts h1, #tag-posts h1 {
    font-size: 2rem !important;
}
}
#topic-posts #topic-posts-wrapper, #topic-posts #tag-posts-wrapper, #tag-posts #topic-posts-wrapper, #tag-posts #tag-posts-wrapper {
  margin-top: 1rem !important;
}
#blog-home-main {
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;
}
@media screen and (min-width: 90em) {
#blog-home-main {
    max-width: 1200px;
}
}
@media print, screen and (min-width: 64em) and (max-width: 89.99875em) {
#blog-home-main {
    max-width: 982px;
}
}
@media screen and (max-width: 39.99875em) {
#blog-home-main {
    padding-top: 2rem;
}
}
#blog-home-main h1 {
  color: #002D45;
  font-weight: 900;
}
@media screen and (max-width: 39.99875em) {
#blog-home-main h1 {
    font-size: 2rem;
}
}
.blog-header {
  color: #005384;
  font-weight: 900;
  font-size: 36px;
  margin: 2rem 0 1rem;
  line-height: 58px;
  background: #DCE9F0;
}
@media print, screen and (max-width: 63.99875em) {
.blog-header {
    font-size: 24px;
}
}
@media screen and (max-width: 39.99875em) {
.blog-header {
    margin-top: 24px;
    line-height: 36px;
}
}
.blog-header-secondary {
  font-weight: 300;
  color: #12524E;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 16px;
}#nearby #nearby-map {
  z-index: 0;
  background: #DCE9F0;
  position: relative;
  /*
  @include breakpoint(medium down) {
      .leaflet-tooltip-pane {
          display: none;
      }
  }
   */
}
#nearby #nearby-map .leaflet-container {
  background: #DCE9F0;
  z-index: 0;
}
#nearby #nearby-map .leaflet-bar a, #nearby #nearby-map .leaflet-bar a:hover {
  color: #2E3336;
}
#nearby #nearby-map .leaflet-marker-pane img {
  outline: 0;
}
#nearby #nearby-map #search-map {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  padding: 5px 25px;
  background: #005384;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
#nearby #nearby-map #nearby-map-loading {
  color: #787C7C;
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
}
#nearby #nearby-list {
  z-index: 1;
  position: relative;
  background: #fff;
  top: 0;
  min-width: 320px;
  overflow-y: auto;
}
@media print, screen and (max-width: 63.99875em) {
#nearby #nearby-list {
    -ms-scroll-chaining: none;
        overscroll-behavior: none;
}
}
#nearby #nearby-list.mobile-list-opened {
  position: relative !important;
}
@media print, screen and (max-width: 63.99875em) {
#nearby #nearby-list {
    width: 100%;
}
}
@media print, screen and (min-width: 64em) {
#nearby #nearby-list {
    width: 400px;
}
}
@media print, screen and (min-width: 64em) {
#nearby #nearby-list {
    overflow-y: auto;
}
}
#nearby #nearby-list #nearby-list-mobile {
  padding: 9px 0;
  box-shadow: 0 -10px 12px 0 rgba(49, 50, 57, 0.2);
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #E4E6E6;
}
@media print, screen and (min-width: 40em) {
#nearby #nearby-list #nearby-list-mobile {
    padding: 15px 0;
}
}
#nearby #nearby-list #nearby-list-mobile #nearby-list-mobile-link {
  margin-left: 12px;
}
#nearby #nearby-list #nearby-list-mobile #nearby-list-mobile-handle {
  height: 6px;
  margin-top: 7px;
  border-radius: 4px;
  background: #DCE9F0;
}
@media print, screen and (min-width: 40em) {
#nearby #nearby-list #nearby-list-mobile #nearby-list-mobile-handle {
    width: 72px;
    height: 8px;
}
}
#nearby #nearby-list #nearby-list-mobile #nearby-list-mobile-line {
  width: 100%;
  height: 1px;
  background: #E4E6E6;
}
#nearby #nearby-list #nearby-list-title {
  border-bottom: 1px solid #E4E6E6;
  position: relative;
  font-family: "Roboto Condensed", sans-serif;
}
@media print, screen and (min-width: 64em) {
#nearby #nearby-list #nearby-list-title {
    border-top: 1px solid #E4E6E6;
}
}
#nearby #nearby-list #nearby-list-title #nearby-sort-btn, #nearby #nearby-list #nearby-list-title #nearby-detail-back-btn {
  font-size: 10px;
  color: #005384;
  cursor: pointer;
  outline: 0;
  padding: 12px 20px;
}
@media screen and (max-width: 39.99875em) {
#nearby #nearby-list #nearby-list-title #nearby-sort-btn, #nearby #nearby-list #nearby-list-title #nearby-detail-back-btn {
    padding: 12px;
}
}
#nearby #nearby-list #nearby-list-title #nearby-sort-btn#nearby-sort-btn, #nearby #nearby-list #nearby-list-title #nearby-detail-back-btn#nearby-sort-btn {
  outline: 0;
}
#nearby #nearby-list #nearby-list-title #nearby-sort-btn#nearby-sort-btn img, #nearby #nearby-list #nearby-list-title #nearby-detail-back-btn#nearby-sort-btn img {
  width: 10px;
}
#nearby #nearby-list #nearby-list-title #nearby-sort-btn#nearby-detail-back-btn img, #nearby #nearby-list #nearby-list-title #nearby-detail-back-btn#nearby-detail-back-btn img {
  width: 24px;
  margin-right: 3px;
}
#nearby #nearby-list #nearby-list-title #nearby-sort-options {
  list-style: none;
  margin: 0;
  width: 100%;
  position: absolute;
  background: #fff;
  border-bottom: 1px solid #E4E6E6;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.41);
}
#nearby #nearby-list #nearby-list-title #nearby-sort-options li {
  color: #005384;
  border-top: 1px solid #E4E6E6;
  font-size: 12px;
  cursor: pointer;
  padding: 12px 20px;
}
@media print, screen and (max-width: 63.99875em) {
#nearby #nearby-list #nearby-list-title #nearby-sort-options li {
    padding: 12px;
}
}
#nearby #nearby-list #loading-locations {
  color: #00111C;
  font-size: 16px;
  padding: 12px;
}
@media print, screen and (min-width: 64em) {
#nearby #nearby-list #loading-locations {
    padding: 12px 20px;
}
}
#nearby #nearby-list #nearby-locs {
  list-style: none;
  margin: 0;
}
#nearby #nearby-list .nearby-loc, #nearby #nearby-list #nearby-detail {
  border-bottom: 1px solid #E4E6E6;
  padding: 12px 12px 12px 20px;
}
@media screen and (max-width: 39.99875em) {
#nearby #nearby-list .nearby-loc, #nearby #nearby-list #nearby-detail {
    padding: 12px;
}
}
#nearby #nearby-list .nearby-loc .nearby-loc-title, #nearby #nearby-list #nearby-detail .nearby-loc-title {
  font-size: 16px;
  line-height: 24px;
  color: #787C7C;
  margin-bottom: 8px;
}
#nearby #nearby-list .nearby-loc.nearby-loc .nearby-loc-title, #nearby #nearby-list #nearby-detail.nearby-loc .nearby-loc-title {
  cursor: pointer;
}
#nearby #nearby-list .nearby-loc .nearby-loc-conditions .nearby-loc-cond, #nearby #nearby-list #nearby-detail .nearby-loc-conditions .nearby-loc-cond {
  display: inline-block;
  color: #8F9595;
  font-size: 12px;
}
#nearby #nearby-list .nearby-loc .nearby-loc-conditions .nearby-loc-cond img, #nearby #nearby-list #nearby-detail .nearby-loc-conditions .nearby-loc-cond img {
  width: 12px;
  margin-right: 5px;
}
#nearby #nearby-list .nearby-loc .nearby-loc-conditions .nearby-loc-cond .ampm, #nearby #nearby-list #nearby-detail .nearby-loc-conditions .nearby-loc-cond .ampm {
  font-weight: bold;
  margin-right: 4px;
}
#nearby #nearby-list .nearby-loc .nearby-loc-conditions .nearby-loc-cond.cond-am, #nearby #nearby-list #nearby-detail .nearby-loc-conditions .nearby-loc-cond.cond-am {
  min-width: 120px;
}
#nearby #nearby-list .nearby-loc .nearby-loc-conditions .nearby-loc-cond.cond-pm, #nearby #nearby-list #nearby-detail .nearby-loc-conditions .nearby-loc-cond.cond-pm {
  margin-left: 20px;
}
#nearby #nearby-list .nearby-loc #nearby-loc-text, #nearby #nearby-list #nearby-detail #nearby-loc-text {
  border-top: 1px solid #E4E6E6;
  font-size: 12px;
  margin-top: 12px;
}
#nearby #nearby-list .nearby-loc #nearby-loc-text .nearby-loc-text-label, #nearby #nearby-list #nearby-detail #nearby-loc-text .nearby-loc-text-label {
  color: #C3C8C8;
  margin: 4px 0;
}
#nearby #nearby-list .nearby-loc #nearby-loc-text .nearby-loc-text, #nearby #nearby-list #nearby-detail #nearby-loc-text .nearby-loc-text {
  color: #010101;
  letter-spacing: 0;
  line-height: 14px;
}
#nearby #nearby-list .nearby-loc #nearby-loc-link, #nearby #nearby-list #nearby-detail #nearby-loc-link {
  text-align: center;
  margin-top: 12px;
}
#nearby #nearby-list .nearby-loc #nearby-loc-link #nearby-loc-btn, #nearby #nearby-list #nearby-detail #nearby-loc-link #nearby-loc-btn {
  background: #DCE9F0;
  border-radius: 19px;
  font-weight: 500;
  font-size: 14px;
  color: #005384;
  line-height: 38px;
  display: inline-block;
  padding: 0 18px;
  cursor: pointer;
  outline: 0;
}
#nearby #nearby-list .nearby-loc #nearby-loc-link #nearby-loc-btn a, #nearby #nearby-list #nearby-detail #nearby-loc-link #nearby-loc-btn a {
  color: #005384;
}#stats {
  width: 100%;
  margin: 0 auto;
}
@media print, screen and (max-width: 63.99875em) {
#stats {
    width: 100%;
}
}
@media print, screen and (min-width: 64em) and (max-width: 89.99875em) {
#stats {
    width: 1024px;
}
}
@media screen and (min-width: 90em) and (max-width: 104.99875em) {
#stats {
    width: 1240px;
}
#stats.max-width-lg {
    width: 1024px;
}
}
@media screen and (min-width: 105em) {
#stats {
    width: 1440px;
}
#stats.max-width-xl {
    width: 1240px;
}
#stats.max-width-lg {
    width: 1024px;
}
}
@media screen and (max-width: 39.99875em) {
#stats {
    margin: 0 12px;
}
}
#stats h1 {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin: 1rem 0 2rem;
  color: #002D45;
}
#stats h2, #stats h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #005384;
}
@media screen and (max-width: 39.99875em) {
#stats h2, #stats h3 {
    font-size: 1.5rem;
}
}
#stats .val {
  color: #494E4E;
  font-size: 1.5rem;
}
@media screen and (max-width: 39.99875em) {
#stats .val {
    font-size: 1.2rem;
}
}
@media print, screen and (min-width: 40em) {
#stats .grid-x {
    margin-bottom: 1rem;
}
}
@media screen and (max-width: 39.99875em) {
#stats .cell {
    margin-bottom: 1rem;
}
}